<div id="game" class="{{screen}}">
    <button id="btnInitialThrow" onClick="rollInitialDice()">Xogar</button>
    <div id="divDice">
        <div id="divDiceDice">
            {{#playerDice}}
                <span>
                    <input id="inputDie{{key}}" type="checkbox" value="die{{key}}" class="checkDie"
                           onchange="updateSelectedDie({{key}}, this.checked)" {{#selected}}checked{{/selected}}/>
                    <label id="die{{key}}" for="inputDie{{key}}" class="labelDie"><i class="face{{value}}"></i></label>
                </span>
            {{/playerDice}}
        </div>
        <div id="divDiceButtons">
            {{#canReroll}}
                <button id="btnReroll" onclick="rerollDice()" data-times="0">Rolar de novo</button>
            {{/canReroll}}
            {{#diceNotAcknowledgedYet}}
                <button id="btnEndRolls" onclick="endRollPhase()">Quedar con estes</button>
            {{/diceNotAcknowledgedYet}}
            {{#betsAreSet}}
                <button id="btnFinishSubgame" onClick="finishSubgame()">Continuar</button>
            {{/betsAreSet}}
        </div>
    </div>
</div>
