* {
	font-family: 'MedievalSharp', cursive;
}

body {
	position: relative;
	border: none;
	padding: 0;
	margin: 0;
}

/* this and the existence of #wrap are for having the background fill the whole screen */
body:before {
	content: ' ';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.5;
	background-image: url("assets/background.jpg");
	background-repeat: no-repeat;
	background-position: 50% 0;
	background-size: cover;
}

#wrap {
	position: relative;
	width: 100vw;
	height: 100vh;
	border: none;
	margin: 0;
	padding: 0;
}

label.labelDie {
	display: inline-block;
	border: 2px solid transparent;
	width: 150px;
	height: 150px;
	line-height: 150px;
	font-size: 10em;
	text-align: center;
}

input.checkDie {
	display: none;
}

input.checkDie:checked + label.labelDie {
	border: 2px dashed saddlebrown;
}

#divDice {
	width: 800px;
	height: 300px;
	margin: 0 auto;
	position: absolute;
	top: 35vh;
	left: 25vw;
}

#divDiceDice {
	margin-bottom: 20px;
}

#divDiceButtons {
	margin: 0 auto;
	width: 405px;
}

#btnInitialThrow {
	position: absolute;
	top: 45vh;
	left: 45vw;
	margin: 0 auto;
	height: 100px;
	width: 200px;
	background-color: wheat;
	border: 3px solid saddlebrown;
	font-size: 20pt;
}

#divDiceButtons button {
	height: 75px;
	width: 200px;
	line-height: 75px;
	font-size: 15pt;
	background-color: wheat;
	border: 2px solid saddlebrown;
}
