/* variables */

@color-bg-soft: wheat;
@color-bg-hard: darksalmon;
@color-border-soft: white;
@color-border-hard: saddlebrown;
@color-blur: gainsboro;

/* fake selector for inheritance */

.textbox {
	font-size: 1.5em;
	line-height: 1.5em;
	border: 1px solid @color-border-soft;
	background-color: @color-bg-soft;
	filter: drop-shadow(0 0 0.75rem @color-border-soft);
}

/* element styling */

* {
	font-family: 'MedievalSharp', cursive;
}

body {
	background-image: url("assets/background-transparent-50.png");
	background-size: cover;
	background-position: center;
	width: 100vw;
	height: 100vh;
	margin: 0;
	display: flex;
}

#canvas {
	width: 800px;
	height: 1200px;
	max-width: 95vw;
	max-height: 95vh;
	margin: auto;
}

#game {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
}

button {
	cursor: pointer;
	border-radius: 20px;
	border: 4px solid @color-border-hard;
	background-color: @color-bg-hard;
	font-size: 1.5em;
	filter: drop-shadow(0 0 0.75rem @color-border-hard);
}

#alert {
	&:extend(.textbox);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	font-size: 3em;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	p {
		width: 80%;
		max-width: 600px;
		text-align: center;
	}

	button {
		&:extend(button);
		width: 50%;
		max-width: 500px;
		height: 1.5em;
	}
}

#btnHelpOpen, #btnHelpClose {
	position: absolute;
	top: 0;
	left: 0;
	margin: 10px;
	height: 55px;
	width: 55px;
	font-weight: bold;
}

/*#btnHelpClose {
	filter: none;
}*/

#btnHelpCloseEnd {
	margin: 50px auto;
	width: 150px;
	display: block;
	height: 60px;
	filter: none;
}

#help {
	&:extend(.textbox);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	z-index: 9998; /* below #alert */
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	display: none; /* starts hidden */

	p {
		margin: 5px 20px;
		&:nth-child(2) { /* first p after the close button */
			margin-top: 100px;
		}
	}
}

#explanation {
	&:extend(.textbox);
	width: 100%;
	margin: 10px 100px;
	padding: 20px;
	text-align: justify;
}

#divDice, #divRivalDice {
	margin-bottom: 20px;
	display: flex;
	width: 100%;
	justify-content: center;

	span {
		margin: 10px;

		.checkDie {
			display: none;

			&:checked + .labelDie {
				border-color: @color-border-hard;
			}

			#game.bets &:checked + .labelDie {
				border-style: dashed;
			}
		}

		.labelDie {
			display: flex;
			border: 3px solid transparent;
			width: 75px;
			height: 75px;
			font-size: 10em;
			text-align: center;

			i {
				width: 50px;
				height: 50px;
				display: block;
				background-size: 100%;
				margin: auto;
				filter: drop-shadow(0 0 1rem @color-blur);

				&.face1 { background-image: url("assets/dice/one.png"); }
				&.face2 { background-image: url("assets/dice/two.png"); }
				&.face3 { background-image: url("assets/dice/three.png"); }
				&.face4 { background-image: url("assets/dice/four.png"); }
				&.face5 { background-image: url("assets/dice/five.png"); }
				&.face6 { background-image: url("assets/dice/six.png"); }
			}
		}
	}
}

#divButtons {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	button {
		height: 80px;
		width: 200px;
		margin: 10px;
	}

	#btnInitialThrow {
		height: 100px;
		font-size: 2.5em;
	}

	#currentBet {
		&:extend(.textbox);
		width: 100%;
		margin: 15px 175px;
		padding: 10px;
		text-align: center;
	}

	#betButtons {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 10px;

		#btnBetRaise {
			/* stick to #inputBetRaise: */
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			border-right: none;
			margin-right: 0;
		}

		#inputBetRaise {
			padding: 10px;
			margin: 10px;
			width: 50px;
			/* neighbour button's 80px without padding (20px) and border (2x4px):
			 * (yeah for some reason border counts for input's height but not for button's)
			 */
			height: 52px;
			/* it's an input but we want it to look like the buttons… except the cursor */
			&:extend(button);
			cursor: default;
			/* mount over btnBetRaise: */
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			margin-left: -20px;
			border-left: 1px solid @color-border-hard;
		}
	}
}
