/* variables */

@color-bg-soft: wheat;
@color-bg-hard: darksalmon;
@color-bg-accent: lightblue;
@color-border-player: black;
@color-border-soft: white;
@color-border-hard: saddlebrown;
@color-border-accent: cornflowerblue;
@color-blur: gainsboro;

/* fake selector for inheritance */

.textbox {
	font-size: 2.5rem;
	line-height: 3rem;
	border: 2px solid @color-border-soft;
	background-color: @color-bg-soft;
	filter: drop-shadow(0 0 0.5rem @color-border-soft);
}


/* rerolling animation */
@keyframes rerolled {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

/* element styling */

* {
	font-family: 'MedievalSharp', cursive;
}

html {
	font-size: 14pt;
}

body {
	background-image: url("assets/background-transparent-50.png");
	background-size: cover;
	background-position: center;
	width: 100vw;
	height: 100vh;
	margin: 0;
	display: flex;
}

#canvas {
	max-width: 800px;
	max-height: 1500px;
	width: 95vw;
	height: 95vh;
	margin: auto;
}

#game {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
}

button {
	cursor: pointer;
	border-radius: 20px;
	border: 4px solid @color-border-hard;
	background-color: @color-bg-hard;
	font-size: 2em;
	filter: drop-shadow(0 0 0.75rem @color-border-hard);
}

#alert {
	&:extend(.textbox);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	font-size: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	p {
		width: 80%;
		max-width: 600px;
		text-align: center;
	}

	button {
		&:extend(button);
		width: 35%;
		max-width: 300px;
		height: 5rem;
		font-size: 3rem;
	}
}

#btnHelpOpen, #btnHelpClose {
	position: absolute;
	top: 0;
	left: 0;
	margin: 2%;
	height: 60px;
	width: 60px;
	font-size: 2.5rem;
	font-weight: bold;
}

#btnHelpClose {
	filter: none;
}

#btnHelpCloseEnd {
	margin: 5% auto;
	width: 30%;
	max-width: 300px;
	display: block;
	height: 6%;
	filter: none;
	font-size: 2.5rem;
}

#help {
	&:extend(.textbox);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	z-index: 9998; /* below #alert */
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	display: none; /* starts hidden */

	p {
		margin: 2% 5%;
		padding: 2%;
	}

	ul, h2 {
		margin-left: 5%;

		&:nth-child(2) { /* first h2 after the close button */
			margin-top: 15%;
		}

		li {
			margin: 1%;
		}
	}
}

#btnToggleAudio {
	position: absolute;
	top: 0;
	left: 70px;
	margin: 10px;
	height: 55px;
	width: 55px;

	&.paused {
		opacity: 50%;
	}
}

#explanation, #info {
	&:extend(.textbox);
	width: 100%;
	margin: 2%;
	padding: 2%;
}

#game.splash #explanation {
	text-align: center;
}

#info {
	text-align: center;

	#game.splash &, #game.rolling & {
		text-align: left;
	}
}

#scoreboard {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: flex-end;
	margin: 4% 2%;

	div {
		&:extend(.textbox);
		width: 25%;
		padding: 1%;
		line-height: inherit;
		background-color: @color-bg-accent;
		filter: drop-shadow(0 0 0.75rem @color-border-accent);

		&#scoreboardPlayer {
			border-color: @color-border-player;
		}

		&:first-child {
			margin-right: 3%;
		}

		span {
			&:first-child {
				float: left;
			}

			&:nth-child(2) {
				float: right;
				font-weight: bold;
				font-size: 1.25em;
			}
		}
	}
}

#playerDice, #rivalDice {
	display: flex;
	width: 100%;
	justify-content: center;

	span {
		margin: 2%;

		.checkDie {
			display: none;

			&:checked + .labelDie {
				border-color: @color-border-hard;
				border-style: dotted;
			}

			#game.rolling &:checked + .labelDie {
				border-style: solid;
			}
		}

		.labelDie {
			display: flex;
			border: 4px solid transparent;
			width: 125px;
			height: 125px;

			i {
				width: 90px;
				height: 90px;
				display: block;
				margin: auto;
				filter: drop-shadow(0 0 1rem @color-blur);
				background-size: cover;

				&.face1 { background-image: url("assets/dice/one.png"); }
				&.face2 { background-image: url("assets/dice/two.png"); }
				&.face3 { background-image: url("assets/dice/three.png"); }
				&.face4 { background-image: url("assets/dice/four.png"); }
				&.face5 { background-image: url("assets/dice/five.png"); }
				&.face6 { background-image: url("assets/dice/six.png"); }

				&.rivalFace1 { background-image: url("assets/dice/r-one.png"); }
				&.rivalFace2 { background-image: url("assets/dice/r-two.png"); }
				&.rivalFace3 { background-image: url("assets/dice/r-three.png"); }
				&.rivalFace4 { background-image: url("assets/dice/r-four.png"); }
				&.rivalFace5 { background-image: url("assets/dice/r-five.png"); }
				&.rivalFace6 { background-image: url("assets/dice/r-six.png"); }

				&.rerolled {
				  animation-name: rerolled;
				  animation-duration: 100ms;
				  animation-iteration-count: 2;
				  animation-timing-function: linear;
				}
			}
		}
	}
}

#divButtons {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 2%;
	width: 100%;

	button {
		margin: 2%;
		width: 400px;
		max-width: 30%;
		height: 100px;
		font-size: 2.3rem;
	}

	#btnInitialThrow {
		font-size: 2.5rem;
	}

	#betButtons {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 1%;

		#btnBetRaise {
			/* stick to #inputBetRaise: */
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			border-right: none;
			margin-right: 0;
		}

		#inputBetRaise {
			padding: 1.5%;
			width: 15%;
			max-width: 60px;
			height: 68px; // fit the height of btnBetRaise
			/* we want it to look like btnBetRaise */
			&:extend(button);
			font-size: 2.65rem;
			/* …except the cursor */
			cursor: default;
			/* …and the border, which is mirrored to mount over it */
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			border-left: 1px solid @color-border-hard;
		}
	}
}


/* screen size dependent tweaks */

@media screen and (min-width: 1200px) {
	/* in big screens, we reduce default text size and button size but increase button text size */
	html { font-size: 8pt;}
	#divButtons button, #divButtons #btnInitialThrow { font-size: 3em; width: 300px; }
}


@media screen and (max-height: 800px) {
	/* reduce all sizes for small screens */
	html { font-size: 8pt; }
	#scoreboard { max-height: 20%; }
	#explanation, #info { max-height: 15%; }
	#playerDice, #rivalDice { max-height: 15%; }
	#playerDice span .labelDie { max-width: 75px; max-height: 75px; i { max-width: 50px; max-height: 50px; } }
	#rivalDice span .labelDie { max-width: 75px; max-height: 75px; i { max-width: 50px; max-height: 50px; } }
	#divButtons { max-height: 10%; }
	#divButtons button { max-height: 75px; }
	#divButtons #betButtons #inputBetRaise { max-height: 43px; }
}